<footer class="main-footer main-footer--fixed">
<div class="wrapper">

  <div class="main-footer__contact">
    guilsa.github.io | 2016 | ❤
  </div>

  <div class="main-footer__social">
    <div class="icon">
      <a target="_blank" href="https://www.facebook.com/guilsa">{% include svg/ic_facebook.svg %}</a>
    </div>
    <div class="icon">
      <a target="_blank" href="https://www.linkedin.com/in/guilhermeisa">{% include svg/ic_linkedin.svg %}</a>
    </div>
    <div class="icon">
      <a target="_blank" href="https://www.instagram.com/urubuz/">{% include svg/ic_instagram.svg %}</a>
    </div>
    <div class="icon">
      <a target="_blank" href="https://github.com/guilsa">{% include svg/ic_github.svg %}</a>
    </div>
  </div>

</div>
</footer>

<script defer src="/js/site.min.js"></script>
