<header class="header">

  <div class="wrapper header__content">

    <a href="/" class="header__brand">
      {% include svg/ic_brand.svg %}
    </a>

    <nav class="header__nav js-menu" role="navigation">
      <ul class="nav">

        <li class="nav__item">
          <a href="#about" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link">Skills</a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link">Portfolio</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__menu hamburger-menu">
      <div class="bar"></div>
    </div>

  </div>

</header>
